*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color:white;
}

.bg-gradient{
    background: linear-gradient(36deg, purple, red);
}

.team-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-header{
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}